.*
*.o
*.i
*.bin
*.elf

#
# Generated include files
#
include/generated/
include/config
arch/*/include/generated

arch/x86_64/

vmImage
System.map
bzImage

tags
tags-e

scripts/kallsyms

#
# Usually I will mkdir build/
# make config O=build
# make O=build
#
build/

!.gitignore
!.mailmap

output
