menu "Lego Memory Component Configurations"

config COMP_MEMORY
	bool "Configure Lego as memory component manager"
	default n
	---help---
	  Say Y if you are going to build a memory-component
	  controller of Lego OS.

if COMP_MEMORY

menu "Memory DEBUG Options"
config DEBUG_MEMORY_CORE
	bool "Debug core.c"
	default n
	help
	  Enable if you want to debug memory/core.c. Basically, to hava
	  a detailed log about imcoming requests.

	  If unsure, say N.

config DEBUG_HANDLE_PCACHE
	bool "Debug handle L4-cache"
	default n
	depends on COMP_MEMORY
	help
	  Enable to have a detailed dump log of L4 cache subsystem.
	  Mostly, it tells you the missing address and how it was handled
	  on both processor and memory side.

	  If unsure, say N

config DEBUG_VM_RB
	bool "Debug VM red-black trees"
	default n
	depends on COMP_MEMORY
	help
	  Enable VM red-black tree debugging information and extra validations.

	  If unsure, say N.

config DEBUG_HANDLE_FORK
	bool "Debug handle_fork.c"
	default n
	depends on COMP_MEMORY
	help
	  Enable to have a detailed log of what memory-manager's fork handler has did.
	  
	  If unsure, say N.

config DEBUG_HANDLE_EXECVE
	bool "Debug handle_execve.c"
	default n
	depends on COMP_MEMORY
	help
	  Enable to have a detailed dump of mmap after execve() call.
	  
	  If unsure, say N.

config DEBUG_HANDLE_MMAP
	bool "Debug handle_mmap.c"
	default n
	depends on COMP_MEMORY
	help
	  Enable to debug mmap(), munmap(), brk() related syscalls.

	  If unsure, say N.

config DEBUG_HANDLE_FILE
	bool "Debug handle_file.c"
	default n
	depends on COMP_MEMORY
	help
	  Enable to debug handle_file.c
	  Handlers for read(), write() syscalls.

	  If unsure, say N.

config DEBUG_M2S_READ_WRITE
	bool "Debug m2s_read_write.c"
	default n
	depends on COMP_MEMORY
	help
	  Enable to debug all interactions between memory and storage
	  components. Mostly, m2s_read_write.c

	  If unsure, say N.

endmenu # Memory DEBUG Options

config MEM_PREFETCH
	bool "Use Prefetch for handle file backed page fault"
	default n
	help
	  Enable to prefetch pages from storage for page fault

endif # if COMP_MEMORY

endmenu
