menu "Lego Memory Component Configurations"

config COMP_MEMORY
	bool "Configure Lego as memory component manager"
	default n
	---help---
	  Say Y if you are going to build a memory-component
	  controller of Lego OS.

if COMP_MEMORY

menu "Memory DEBUG Options"
config DEBUG_VM_RB
	bool "Debug VM red-black trees"
	default n
	depends on COMP_MEMORY
	help
	  Enable VM red-black tree debugging information and extra validations.

	  If unsure, say N.

config DEBUG_HANDLE_FORK
	bool "Debug handle_fork.c"
	default n
	depends on COMP_MEMORY
	help
	  Enable to have a detailed log of what memory-manager's fork handler has did.
	  
	  If unsure, say N.

config DEBUG_HANDLE_EXECVE
	bool "Debug handle_execve.c"
	default n
	depends on COMP_MEMORY
	help
	  Enable to have a detailed dump of mmap after execve() call.
	  
	  If unsure, say N.

config DEBUG_HANDLE_MMAP
	bool "Debug handle_mmap.c"
	default n
	depends on COMP_MEMORY
	help
	  Enable to debug mmap(), munmap(), brk() related syscalls.

	  If unsure, say N.

endmenu

endif

endmenu
