menu "Lego Memory Component Configurations"

config COMP_MEMORY
	bool "Configure Lego as memory component manager"
	default n
	---help---
	  Say Y if you are going to build a memory-component
	  controller of Lego OS.

if COMP_MEMORY

menu "Memory DEBUG Options"
config DEBUG_VM_RB
	bool "Debug VM red-black trees"
	help
	  Enable VM red-black tree debugging information and extra validations.

	  If unsure, say N.

endmenu

endif

endmenu
