menu "InfiniBand"

menuconfig INFINIBAND
	tristate "InfiniBand support"
#	depends on PCI || BROKEN
#	depends on HAS_IOMEM
#	depends on NET
#	depends on INET
#	depends on m || IPV6 != m
	select IRQ_POLL
	---help---
	  Core support for InfiniBand (IB).  Make sure to also select
	  any protocols you wish to use as well as drivers for your
	  InfiniBand hardware.

config DEBUG_INFINIBAND_MAD
	bool "Debug MAD"
	default n
	depends on INFINIBAND
	depends on DEBUG_KERNEL
	help
	  Enable if you want to print a message whenever this host
	  receive IB management datagram (MAD) from subnet manager.

	  If unsure say N.

config DEBUG_INFINIBAND_QP_TABLE
	bool "Debug QP table operations"
	default n
	depends on INFINIBAND
	depends on DEBUG_KERNEL
	help
	 Enable if you want to track per IB device QP table activities.
	 This is Lego mlx4en specific.

	 If unsure, say N.

config DEBUG_INFINIBAND_CQ_TABLE
	bool "Debug CQ table operations"
	default n
	depends on INFINIBAND
	depends on DEBUG_KERNEL
	help
	 Enable if you want to track per IB device CQ table activities.
	 This is Lego mlx4en specific.

	 If unsure, say N.

if INFINIBAND

source "drivers/infiniband/hw/mlx4/Kconfig"
source "drivers/infiniband/ulp/ipoib/Kconfig"

endif # INFINIBAND

endmenu
