menu "InfiniBand"

menuconfig INFINIBAND
	tristate "InfiniBand support"
#	depends on PCI || BROKEN
#	depends on HAS_IOMEM
#	depends on NET
#	depends on INET
#	depends on m || IPV6 != m
	select IRQ_POLL
	---help---
	  Core support for InfiniBand (IB).  Make sure to also select
	  any protocols you wish to use as well as drivers for your
	  InfiniBand hardware.

if INFINIBAND

source "drivers/infiniband/hw/mlx4/Kconfig"
source "drivers/infiniband/ulp/ipoib/Kconfig"

endif # INFINIBAND

endmenu
