#
# Makefile for Lego components selections
#

source "managers/processor/Kconfig"
source "managers/memory/Kconfig"

menu "DRAM Cache Options"
config PCACHE_LINE_SIZE_SHIFT
	int
	default 12
	---help---
	This option configures the cache line size.
	By default, we use 4KB cache line.

config PCACHE_ASSOCIATIVITY_SHIFT
	int
	default 3
	---help---
	  Configure the LLC cache associativity shift for processor components.
	  Default is 3, which means the default associativity is 2^3=8.
endmenu

menu "General Manager Config/Debug Options"
config DEFAULT_MEM_NODE
	int "Default memory homenode ID"
	depends on COMP_PROCESSOR || COMP_MEMORY

config DEFAULT_STORAGE_NODE
	int "Default storage node ID"
	depends on COMP_PROCESSOR || COMP_MEMORY

config CHECK_PINNED_THREADS
	bool "Runtime check of pinned threads integrity"
	default n
	depends on COMP_PROCESSOR || COMP_MEMORY
	help
	  Runtime check
	  - if those pinned threads have been migrated to other cores
	  - if those cores have other threads
	  Warning will be ejected if any of the above assumption break.

	  This adds additional overhead during runtime, if unsure, say N.

config USE_RAMFS
	bool "Use RAMFS in P or M"
	default y
	depends on COMP_PROCESSOR || COMP_MEMORY
	help
	  Enable to use RAMFS in memory or processor component. Debug only.

	  If unsure, say N.

config RAMFS_OBJECT_FILE
	string "The static-linked image embedded into Lego"
	default "managers/memory/ramfs/bin/word_count-seq"
	depends on COMP_MEMORY && USE_RAMFS
	help
	  Please give the full pathname.

config GPM
	bool "Global processor monitor"
	default n
	help
	  Enable this to use Global processor monitor

if GPM
config GPM_NODEID
	int "GMM IB node ID"
	default 3
	help
	  if running a multiple monitor on same machine, IB node
	  ID can be same as Storage node, GMM, and GSM's

endif #if GPM

config GMM
	bool "Global memory monitor"
	default n
	help
	  Enable this to use Global memory monitor

if GMM
config GMM_NODEID
	int "GMM IB node ID"
	default 3
	help
	  if running a multiple monitor on same machine, IB node
	  ID can be same as Storage node, GPM and GSM's

endif #if GMM

config GSM
	bool "Contact GSM for locating page_cache/storage homenode"
	default n
	help
	  Contact GSM for locating page_cache/storage homenode

if GSM

config GSM_HOMENODE
	int "GSM homenode ID"
	depends on FIT_LOCAL_ID || FIT_NR_NODES

endif #if GSM

endmenu # General Manager Config/Debug

#
# Co-locate with net info to ease .config modification
#
source "net/Kconfig"

# 
# VMA relevant config, put here because it relates to both 
# processor side and memory side
#
menu "vma relevant configuration, debug, and test"

config DISTRIBUTED_VMA
	bool "Config Lego distributed vma"
	default n
	help
	  Enable Lego distributed vma, affect both processor side and memory side

if DISTRIBUTED_VMA 

config VM_GRANULARITY_ORDER
	int "Default granularity is 1G"
	default 30
	help
	  Static virtual memory range granularity (in byte, default is 2^30)

config MEM_NR_NODES
	int "how many nodes are memory nodes"
	default 1
	help
	  this config helps determine the size of reply of vma request 

config DEBUG_VMA
	bool "Debug vma"
	default n
	depends on DEBUG_KERNEL
	help
	  Enable VMA debug

config DISTRIBUTED_VMA_PROCESSOR
	bool "distributed vma, processor side"
	default y
	depends on COMP_PROCESSOR
	help
	  Enable processor side distributed vma

config VMA_PROCESSOR_UNITTEST
	bool "Run VMA processor side unit test"
	default n
	depends on COMP_PROCESSOR && DEBUG_VMA
	help
	  Enable vma unit test

config DISTRIBUTED_VMA_MEMORY
	bool "distributed vma, memory side"
	default y
	depends on COMP_MEMORY
	help
	  Enable memory side distributed vma

config VMA_MEMORY_UNITTEST
	bool "Run VMA memory side unit test"
	default n
	depends on COMP_MEMORY && DEBUG_VMA
	help
	  Enable vma unit test
	
endif	# if DISTRIBUTED_VMA

endmenu

