#
# Makefile for Lego components selections
#

source "managers/processor/Kconfig"
source "managers/memory/Kconfig"

menu "General Manager Config/Debug Options"
config PCACHE_FILL_SPLIT_NR
	int
	default 1

config DEBUG_VM_MMAP
	bool "Debug mmap() brk() related syscalls"
	help
	  Enable to have a detailed dump on each mmap(), brk() syscall handlers.
	  Dumpers will be enabled at both processor and memory components.

	  if unsure, say N.

endmenu
