menu "Lego Processor Component Configurations"

config COMP_PROCESSOR
	bool "Configure Lego as processor component"
	default n
	---help---
	  Say Y if you are going to build a processor-component
	  controller of Lego OS.

if COMP_PROCESSOR

config PROCESSOR_LLC_ASSOCIATIVITY
	int
	default 8
	---help---
	  Configure the LLC cache associativity for processor components.

endif

endmenu
