menu "Lego Processor Component Configurations"

config COMP_PROCESSOR
	bool "Configure Lego as processor component"
	default n
	---help---
	  Say Y if you are going to build a processor-component
	  controller of Lego OS.

if COMP_PROCESSOR

config PCACHE_ASSOCIATIVITY_SHIFT
	int
	default 3
	---help---
	  Configure the LLC cache associativity shift for processor components.
	  Default is 3, which means the default associativity is 2^3=8.

config PCACHE_METADATA_SIZE
	int
	default 8 if 64BIT
	default 4

	---help---
	  This defines the metadata byte size for each cache line. The metadata
	  includes: tag bits, valid bit, dirty bit, etc.

	  Default is 8 bytes if the kernel is configured as 64bit.

config DEBUG_PROC_SYS
	bool "Debug /proc and /sys output"
	default n
	help
	  Some user-program will open /proc and /sys files to get information
	  about lego-kernel. We are having these two interfaces to maintain
	  compatability with linux.

	  Enable to print the msg everytime /proc and /sys files are read
	  by user program.

	  if unsure, sya N.

endif
endmenu
