menu "Networking"

config LWIP
	tristate "lwip TCP/IP layer"
	---help---
	  lwip TCP/IP layer.

if INFINIBAND

config FIT
	bool "FIT IB layer"
	default y
	depends on INFINIBAND

config FIT_DEBUG
	bool "Enable fit_debug"
	default n
	depends on FIT
	help
	  Enable to enable fit_debug() marco

config FIT_INITIAL_SLEEP_TIMEOUT
	int "FIT initial sleep timeout (s) for connection"
	default 10
	depends on FIT
	help
	  This is the time you need to wait for FIT to establish
	  connection with other machines. Life is short, make it smaller.

config FIT_NR_NODES
	int "FIT Number of Connected Nodes"
	default 2
	depends on FIT
	help
	  This is the number of nodes that can be connected by FIT layer.
	  Count the nodes you need for testing, and then set the EXACT same
	  value for all the testing nodes.

	  E.g., if you are going to use 4 nodes, then config it as 4.

config FIT_LOCAL_ID
	int "FIT Unique Local ID [0, FIT_NR_NODES)"
	depends on FIT || FIT_NR_NODES
	help
	  This is the local node id, which has to be unique across connected FIT nodes.
	  The raneg of FIT_LOCAL_ID is [0, FIT_NR_NODES - 1).

endif

endmenu
